
<h4>Welcome to Evolvice Task</h4>
<h4> This is a simple project for showing Repository Design Pattern and use technologies :</h4>
<p>
  1- ASP.Net Web API .Net Core 2.1 <br />
  2- .Net Core Standared <br />
  3- .Net Entity Framework Core 2.1 <br />
  4- SQL SERVER DB <br />
  5- Angular 5 <br />
  6- Bootstrap
</p>
<hr />

<h4> Front End Architecture and How to call End Points: </h4>
<h3 style="color:blue"> Angular Component --> Shared Service --> API End Point</h3>
<hr />
<h4> Back End Architecture and How to hite the Database: </h4>
<h3 style="color:blue"> Controller --> Service --> Repository --> DB</h3>
