
<h1>Evos</h1>


<p *ngIf="!evos"><em>Loading...</em></p>

<button type="button" *ngIf="evos" class="btn btn-outline-secondary" style="margin-bottom:10px;" (click)="ShowEditing()">Add Evo</button>
<div class="row" *ngIf="showEdit">
      <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="evoItem.name" placeholder="Name" aria-label="Name" aria-describedby="button-addon2">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" type="button" id="button-addon2" (click)="SaveEvo()">Save</button>
      </div>
</div>


<table class='table' *ngIf="evos">
  <thead>
    <tr>
      <th>Name</th>
      <th>Is Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evo of evos">
      <td>{{ evo.name }}</td>
      <td><input type="checkbox" [checked]="evo.isActive" /> </td>
      <td> <button class="btn btn-danger" type="button" (click)="DeleteEvo(evo)">Delete</button></td>
    </tr>
  </tbody>
</table>





